---
layout: page
title: Upcoming Workshops
---
{% assign curDate = site.time | date: "%s" | plus: 0 %}

{% assign events = site.categories.event | where_exp: "post", "post.date | date: '%s' | plus: 172800 >= curDate" }}
{% assign eventCount = events | size %}
{% if eventCount == 0 %} 
  <p>
    No events scheduled...yet. Follow us <a href="http://twitter.com/humbledata/"><strong>@HumbleData</strong></a>
    on Twitter to get the inside scoop on our next workshop!
  </p>
{% endif %}

{% for post in site.categories.event %}
  {% assign postStartDate = post.date | date: "%s" | plus: 172800 %}
  {% if postStartDate >= curDate %}
    <a href="{{ site.github.url }}{{ post.url }}">
      <h1 style="margin-left: 10px;">{{ post.date | date: "%A, %e %B %Y"}}</h1>
      <div class="featured-posts" {% if post.image %}style="background-image:url({{ post.image }});"{% endif %}>
        <h2><span>{{ post.title }}</span></h2>
      </div>
    </a>
  {% endif %}
{% endfor %}
