---
layout: default
title: Home
---

<article>
    <div class="featured-cover">
      <img src="/assets/logo/workshop_transparent.png" style="width: 80vw;"/>
      <h1>{{ site.data.settings.cover_title }}</h1>
      <p>{{ site.data.settings.cover_description }}</p>
    </div>
</article>

<article>
    <div class="featured-cover" style="margin-bottom: 10px;">
      <h1>What's the latest</h1>
    </div>
</article>

{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}

{% if paginator.next_page or paginator.previous_page%}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
{% endif %}
